<nbm>
    <moduleType>normal</moduleType>
    <codeNameBase>org.netbeans.cubeon.trac.api/1</codeNameBase>
    <cluster>cubeon</cluster>
    <manifest>src/main/nbm/manifest.mf</manifest>
    <homepageUrl>http://cubeon.googlecode.com</homepageUrl>
    <distributionUrl>http://cubeon.googlecode.com</distributionUrl>
    <licenseName>Apache License, Version 2.0</licenseName>
    <licenseFile>license.txt</licenseFile>
</nbm>